a {
    color: #FF8500;
}

body {
    color: white;
    background-color: #430D99;
}

.portfolio-image{
    margin-right: 5px;
    float: left;
    width: 150px;
}

.header{
    padding: 10px;
    margin: 5px;
    border: 5px solid #75AACC;
    background-color: #75AACC;
    border-radius: 15px 15px;
}

.projects {
    text-align: center;
}

.project-display {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #3757ff;
    border: 5px solid #3757ff;
    border-radius: 15px 15px;
}
