<div class="header">
    <img class="portfolio-image" src="~/img/anthony.jpg" />
    <h1>Anthony J Bottemiller</h1>
    <h3>Junior Web Developer</h3>
    <a href='@Url.Action("Index", "Home")' class="btn btn-primary">Home</a>
    <a href='@Url.Action("Index", "Projects")' class="btn btn-primary">Projects</a>
    <a href='@Url.Action("Index", "About")' class="btn btn-primary">About Me</a>
    <hr />
</div>