@{
    ViewData["Title"] = "Anthony Bottemiller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="landing">
    <h1>Hi!!</h1>
    <p>This is my portfolio site feel free to look at my most popular projects. I'm always looking for suggestions and growth opportunities!</p>
</div>
