@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about-me">
    <h1>About Me</h1>
    <p>I have been a professional troubleshooter for over 12 years. Looking for growth opportunities in technology I decided to finally give Programming a try. This has become a deep passion for me. In my early studies I was informed that propgramming alone is not actually programming. So in order to expand my skill set and Learn what it is like to collaborate in software development. I made the decision to attend <a href="www.epicodus.com">Epicodus</a>. It may be my best decision yet!</p>
</div>
